@page
@model Frontend.Pages.DetailsIngredienteModel
@{
    ViewData["Title"] = "Detalles de Ingrediente";
    var ingrediente = Model.Ingrediente;
}
<ul class="list-group list-group-flush" id = "cuerpo">
    <li class="list-group-item"> <b>id: </b> @ingrediente.id</li>
    <li class="list-group-item"> <b>Nombre: </b> @ingrediente.nombre</li>
    <li class="list-group-item"> <b>Precio: </b> @ingrediente.precio</li>
    <li class="list-group-item"> <b>Imangen: </b><img src=@ingrediente.imagen alt="No encontro" id = "ImagenLista"></li>
    <li class="list-group-item"> <b>Descripcion: </b>@ingrediente.descripcion</li>
</ul>
